extends layout

block content
	h1= title
	h2 基本的な使い方
	h3 必要なライブラリ
	ul
		li jquery
		li Mousetrap
	h3 html (require library)
	pre
		code
			| &lt;script src=&quot;/jquery/dist/jquery.min.js&quot;&gt;&lt;/script&gt;
			| &lt;script src=&quot;/mousetrap/mousetrap.min.js&quot;&gt;&lt;/script&gt;
	h3 script setup to element
	pre
		code
			| &lt;script src=&quot;/mousetrap/mousetrap.min.js&quot;&gt;&lt;/script&gt;
	h3 sample
	.sample-area.basic
	pre
		code
		| var area = $(&quot;.sample-area.basic&quot;);
		| area.html(`
		| 	&lt;div&gt;delkeyテスト&lt;/div&gt;
		| 	&lt;div&gt;&lt;a href=&quot;/&quot;&gt;LINK1&lt;/a&gt; on focus to del key press.&lt;/div&gt;
		| 	&lt;div&gt;&lt;a href=&quot;/&quot;&gt;LINK2&lt;/a&gt; on focus to del key press.&lt;/div&gt;
		| 	&lt;pre&gt;&lt;/pre&gt;
		| `);
		| area = area[0]
		| Mousetrap(area).bind([&#039;backspace&#039;,&#039;del&#039;], function(e) {
		| 	e.preventDefault();
		| 	console.log( e );
		| });
