doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/jquery-ui/themes/base/jquery-ui.min.css')
		script(src='/jquery/dist/jquery.min.js')
		script(src='/jquery-ui/jquery-ui.min.js')
		script(src='/javascripts/init.js')
		script(src='/javascripts/main.js')
	body
		block content
